{
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true
  },
  "root": true,
  "extends": ["plugin:react/recommended", "standard", "prettier/@typescript-eslint", "plugin:prettier/recommended"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "globals": {
    "React": "writable"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "plugins": ["react", "@typescript-eslint", "react-hooks", "prettier"],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "react/prop-types": "off",
    "no-console": "error"
  }
}
